.categories {
  margin-top: 100px;
  margin-bottom: 100px;
}

.categories__container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 20px;
  margin-top: 150px;
}

.categories__subtitle {
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 17.5%;
  text-transform: uppercase;
  text-align: center;
  color: #f53e32;
}
.categories__title {
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 60px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #000;
}

.categories__cards {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.categories__cards--card {
  width: 230px;
  height: 250px;
  box-shadow: 2px 10px 30px 0px #0000001a;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.categories__cards--card:hover {
  border: 1px solid #64b496;
}

.categories__card--img {
  background-color: #c0b2632b;
  border-radius: 50%;
}

.categories__cards--card .header__img {
  width: 106px;
  object-fit: cover;
}
