.sells {
  margin-bottom: 500px;
}

.sells__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sells__info--title {
  font-family: Quicksand;
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  line-height: 38.4px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: black;
}

.sells__info--link {
  font-family: Quicksand;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #253d4e;
}

.sells__info--link:hover {
  color: #3bb77e;
}

.sells__card--img {
  text-align: center;
}

.sells__cards {
  display: flex;
}

.sells__cards--card {
  width: 278px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  border: 1px solid #ececec;
}

.sells__card--range {
  width: 100%;
  height: 5px;
  background-color: red;
  border-radius: 4px;
}

.sells__card--btn {
  width: 236px;
  height: 47px;
  border: none;
  border-radius: 4px;
  background-color: #f53e32;
  color: white;
}
